release/cart.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>7 желаний</title>
  </head>
  <body id="page">
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 d-flex align-items-center justify-content-between"><a class="logo" href="#">7 желаний</a>
            <div class="d-flex align-items-center">
              <nav class="navigation d-none d-lg-flex"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="#">Каталог</a><a class="navigation__link" href="#">Услуги</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Контакты</a>
              </nav><a class="header-phone d-none d-lg-block" href="tel:+73511234567">+7 351 123-45-67</a>
              <div class="minicart"><!-- убрать класс minicart__link_btn если не нужно открывать меню --><a class="minicart__link minicart__link_btn" href="#"><span class="icon-cart"></span><span class="minicart__count">2</span>						</a></div>
              <div class="d-flex d-lg-none ml-3" id="burger"><span></span></div>
            </div>
          </div>
        </div>
      </div><div class="minicart__dropdown">
      <div class="minicart__dropdown_content">
        <div class="d-flex justify-content-end pb-3"><span class="minicart__dropdown_close">+</span></div>
        <ul class="minicart__list-content">
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
        </ul><div class="minicart__total"><span>Цена</span><span>4 999 ₽</span></div>
<div class="minicart-btns d-flex flex-column">
<a class="btn mb-3" href="#">Корзина</a>
<a class="btn btn_main" href="#">Оформить</a>
</div>
      </div></div>
    </header>
    <div class="menu-modal">
      <div class="menu-modal__content"><div class="d-flex justify-content-between align-items-center mb-4"><a class="logo" href="#">7 желаний</a>
        <div class="menu-modal__close"></div></div>
        <nav class="navigation navigation_mobile d-flex flex-column align-items-start"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="epiclegend.ru">Каталог</a><a class="navigation__link" href="#">Услуги</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Контакты</a>
        </nav>
        <div class="menu-modal__block d-flex justify-content-center"><a class="header-phone" href="tel:+73511234567">+7 351 123-45-67</a></div>
        <div class="social d-flex align-items-center justify-content-center"><a class="social__link" href="#"><span class="icon-instagram"></span></a><a class="social__link" href="#"><span class="icon-vk"></span></a><a class="social__link" href="#"><span class="icon-facebook"></span></a></div>
      </div>
    </div>
    <div class="content">
      <div class="breadcrumb-block">
        <div class="container">
          <div class="row">
            <div class="col-12"><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item"><a href="#">Library</a></li>
<li class="breadcrumb-item active" aria-current="page">Data</li>
</ol>
</nav>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-lg-80 pb-90">
        <div class="row cart-line">
          <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><a href="#"><img class="lazyload" data-src="images/cartitem.png" alt="img" title="img"></a></div>
          <div class="col-12 col-lg-5 d-flex justify-content-center justify-content-lg-start align-items-center pb-3 pb-lg-0"><a class="cart-line__title" href="#">Наименование товара</a></div>
          <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0">
            <form class="product-quantity pro-details-quality" action="" method=""><div class="cart-plus-minus">
<input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
</div>
            </form>
          </div>
          <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><span class="font-18"><b>3 222 ₽ </b></span></div>
          <div class="col-12 col-lg-1 d-flex justify-content-center align-items-center"><a class="cart-line__remove" href="#"><span class="icon-bin"></span></a></div>
        </div>
        <div class="row cart-line">
          <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><a href="#"><img class="lazyload" data-src="images/cartitem.png" alt="img" title="img"></a></div>
          <div class="col-12 col-lg-5 d-flex justify-content-center justify-content-lg-start align-items-center pb-3 pb-lg-0"><a class="cart-line__title" href="#">Наименование товара</a></div>
          <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0">
            <form class="product-quantity pro-details-quality" action="" method=""><div class="cart-plus-minus">
<input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
</div>
            </form>
          </div>
          <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><span class="font-18"><b>3 222 ₽ </b></span></div>
          <div class="col-12 col-lg-1 d-flex justify-content-center align-items-center"><a class="cart-line__remove" href="#"><span class="icon-bin"></span></a></div>
        </div>
        <div class="row cart-line">
          <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><a href="#"><img class="lazyload" data-src="images/cartitem.png" alt="img" title="img"></a></div>
          <div class="col-12 col-lg-5 d-flex justify-content-center justify-content-lg-start align-items-center pb-3 pb-lg-0"><a class="cart-line__title" href="#">Наименование товара</a></div>
          <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0">
            <form class="product-quantity pro-details-quality" action="" method=""><div class="cart-plus-minus">
<input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
</div>
            </form>
          </div>
          <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><span class="font-18"><b>3 222 ₽ </b></span></div>
          <div class="col-12 col-lg-1 d-flex justify-content-center align-items-center"><a class="cart-line__remove" href="#"><span class="icon-bin"></span></a></div>
        </div>
        <div class="row cart-line">
          <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><a href="#"><img class="lazyload" data-src="images/cartitem.png" alt="img" title="img"></a></div>
          <div class="col-12 col-lg-5 d-flex justify-content-center justify-content-lg-start align-items-center pb-3 pb-lg-0"><a class="cart-line__title" href="#">Наименование товара</a></div>
          <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0">
            <form class="product-quantity pro-details-quality" action="" method=""><div class="cart-plus-minus">
<input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
</div>
            </form>
          </div>
          <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><span class="font-18"><b>3 222 ₽ </b></span></div>
          <div class="col-12 col-lg-1 d-flex justify-content-center align-items-center"><a class="cart-line__remove" href="#"><span class="icon-bin"></span></a></div>
        </div>
      </div>
      <div class="container pb-90">
        <form class="row" action="" method="">
          <div class="col-12 col-lg-9">
            <div class="cart-block">
              <h2 class="font-18 mb-4"><b>Данные получателя</b></h2>
              <div class="row">
                <div class="col-12 col-lg-4 pb-4 pb-lg-0">
                  <input class="form-control w-100" type="text" placeholder="Имя">
                </div>
                <div class="col-12 col-lg-4 pb-4 pb-lg-0">
                  <input class="form-control w-100" type="tel" placeholder="Телефон*">
                </div>
                <div class="col-12 col-lg-4">
                  <input class="form-control w-100" type="email" placeholder="E-mail*">
                </div>
              </div>
            </div>
            <div class="cart-block">
              <h2 class="font-18 mb-4"><b>Варианты доставки</b></h2>
              <div class="d-flex flex-column flex-lg-row align-items-lg-center"><div class="custom-control custom-radio pb-3 pb-lg-0 mr-5">
<input type="radio" id="delivery1" name="delivery" class="custom-control-input" >
<label class="custom-control-label" for="delivery1">Доставка ТК</label>
</div>
<div class="custom-control custom-radio">
<input type="radio" id="delivery2" name="delivery" class="custom-control-input" >
<label class="custom-control-label" for="delivery2">Самовывоз</label>
</div>
              </div>
            </div>
            <div class="cart-block">
              <h2 class="font-18 mb-4"><b>Адрес доставки</b></h2>
              <div class="row">
                <div class="col-12 col-lg-4 pb-4 pb-lg-0">
                  <input class="form-control w-100" type="text" placeholder="Город">
                </div>
                <div class="col-12 col-lg-4">
                  <input class="form-control w-100" type="text" placeholder="Адрес">
                </div>
              </div>
            </div>
            <div class="cart-block">
              <h2 class="font-18 mb-4"><b>Способы оплаты</b></h2>
              <div class="d-flex flex-column flex-lg-row align-items-lg-center"><div class="custom-control custom-radio pb-3 pb-lg-0 mr-5">
<input type="radio" id="oplata1" name="oplata" class="custom-control-input" >
<label class="custom-control-label" for="oplata1">Оплата при получении</label>
</div>
<div class="custom-control custom-radio">
<input type="radio" id="oplata2" name="oplata" class="custom-control-input" >
<label class="custom-control-label" for="oplata2">Онлайн на сайте</label>
</div>
              </div>
            </div>
            <div>
              <h2 class="font-18 mb-4"><b>Комментарий</b></h2>
              <textarea class="form-control" placeholder="Вы можете оставить дополнительную информацию о заказе"></textarea>
            </div>
          </div>
          <div class="col-12 col-lg-3 pt-4"><div class="grand-totall d-flex flex-column"><span class="font-18 mb-3"><b>Ваш заказ</b></span>
            <div class="price d-flex justify-content-between mb-4"><span class="font-18">Итого</span><span class="font-18"><b>5 555 ₽</b></span></div>
            <div class="d-flex justify-content-center">
              <button class="btn btn_main btn_around-15" type="submit">Оформить заказ</button>
            </div>
          </div>
        </form>
      </div>
    </div><div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProductLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalProductLabel">Modal title</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center"><span class="icon-arrow-top"></span></div>
    </div>
    <footer class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-4 pb-5 pb-lg-0"><span class="block-header font-24 font-weight-500 mb-3 d-block">Контактная информация</span>
              <div class="d-flex flex-column align-items-start">
                <div><span class="footer__item mr-2">Телефон:</span><a class="link_color" href="tel:+73511234567">+7 351 123-45-67</a></div>
                <div><span class="footer__item mr-3">Email:</span><a class="link_color" href="mailto:info@mail.ru">info@mail.ru</a></div>
              </div>
            </div>
            <div class="col-12 col-lg-4 d-none d-lg-block"><span class="block-header font-24 font-weight-500 mb-3 d-block">Категории товаров</span>
              <div class="d-flex flex-column align-items-start"><a class="link" href="#">Подушки</a><a class="link" href="#">Обувь</a><a class="link" href="#">Косметика</a><a class="link" href="#">Бижутерия</a><a class="link" href="#">Парфюм</a>
              </div>
            </div>
            <div class="col-12 col-lg-4"><span class="block-header font-24 font-weight-500 mb-3 d-block">Подписывайтесь</span>
              <div class="social d-flex align-items-center"><a class="social__link" href="#"><span class="icon-instagram"></span></a><a class="social__link" href="#"><span class="icon-vk"></span></a><a class="social__link" href="#"><span class="icon-facebook"></span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6"><a class="font-14" href="#">Политика конфиденциальности</a></div>
            <div class="col-12 col-lg-6 d-none d-lg-flex justify-content-lg-end"><a class="font-14" href="https://deksis.ru/">Разработка сайта DEKSIS.RU</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/cart.pug
extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-lg-80 pb-90")
		-for(let i = 0; i < 4; i++)
			div(class="row cart-line")
				div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0")
					a(href="#")
						img(class="lazyload" data-src="images/cartitem.png" alt="img" title="img")
				div(class="col-12 col-lg-5 d-flex justify-content-center justify-content-lg-start align-items-center pb-3 pb-lg-0")
					a(href="#" class="cart-line__title")
						| Наименование товара
				div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0")
					form(class="product-quantity pro-details-quality" action="" method="")
						<div class="cart-plus-minus">
							<input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
						</div>
				div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0")
					span(class="font-18")
						b
							| 3 222 ₽ 
				div(class="col-12 col-lg-1 d-flex justify-content-center align-items-center")
					a(href="#" class="cart-line__remove")
						span(class="icon-bin")
	div(class="container pb-90")
		form(class="row" action="" method="")
			div(class="col-12 col-lg-9")
				div(class="cart-block")
					h2(class="font-18 mb-4")
						b
							| Данные получателя
					div(class="row")
						div(class="col-12 col-lg-4 pb-4 pb-lg-0")
							input(class="form-control w-100" type="text" placeholder="Имя")
						div(class="col-12 col-lg-4 pb-4 pb-lg-0")
							input( class="form-control w-100" type="tel" placeholder="Телефон*")
						div(class="col-12 col-lg-4")
							input( class="form-control w-100" type="email" placeholder="E-mail*")
				div(class="cart-block")
					h2(class="font-18 mb-4")
						b
							| Варианты доставки
					div(class="d-flex flex-column flex-lg-row align-items-lg-center")
						<div class="custom-control custom-radio pb-3 pb-lg-0 mr-5">
							<input type="radio" id="delivery1" name="delivery" class="custom-control-input" >
							<label class="custom-control-label" for="delivery1">Доставка ТК</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" id="delivery2" name="delivery" class="custom-control-input" >
							<label class="custom-control-label" for="delivery2">Самовывоз</label>
						</div>
				div(class="cart-block")
					h2(class="font-18 mb-4")
						b
							| Адрес доставки
					div(class="row")
						div(class="col-12 col-lg-4 pb-4 pb-lg-0")
							input( class="form-control w-100" type="text" placeholder="Город")
						div(class="col-12 col-lg-4")
							input( class="form-control w-100" type="text" placeholder="Адрес")
				div(class="cart-block")
					h2(class="font-18 mb-4")
						b
							| Способы оплаты
					div(class="d-flex flex-column flex-lg-row align-items-lg-center")
						<div class="custom-control custom-radio pb-3 pb-lg-0 mr-5">
							<input type="radio" id="oplata1" name="oplata" class="custom-control-input" >
							<label class="custom-control-label" for="oplata1">Оплата при получении</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" id="oplata2" name="oplata" class="custom-control-input" >
							<label class="custom-control-label" for="oplata2">Онлайн на сайте</label>
						</div>
				div(class="")
					h2(class="font-18 mb-4")
						b
							| Комментарий
					textarea(class="form-control" placeholder="Вы можете оставить дополнительную информацию о заказе")
			div(class='col-12 col-lg-3 pt-4')
				<div class="grand-totall d-flex flex-column">
					span(class="font-18 mb-3")
						b
							| Ваш заказ
					div(class="price d-flex justify-content-between mb-4")
						span(class="font-18")
							| Итого
						span(class="font-18")
							b
								| 5 555 ₽
					div(class="d-flex justify-content-center")
						button(type="submit" class="btn btn_main btn_around-15")
							| Оформить заказ
