source/html/contacts.pug
extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-50 pt-lg-75")
		div(class="row justify-content-center pb-40")
			div(class="col-12 col-lg-6 text-center")
				h1(class="block-title")
					| Контакты
				p(class="block-text")
					| Вы можете связаться с нами любым удобным для вас способом.
		div(class="row")
			div(class="col-12 col-lg-4 pb-4 pb-lg-0")
				div(class="contact-item d-flex flex-column align-items-start")
					span(class="icon-call icon")
					span(class="font-18 mb-3")
						| Телефон:
					a(class="block-text font-18" href="tel:+73511234567")
						b
							| +7 351 123-45-67
			div(class="col-12 col-lg-4 pb-4 pb-lg-0")
				div(class="contact-item d-flex flex-column align-items-start")
					span(class="icon-location icon")
					span(class="font-18 mb-3")
						| Адрес:
					span(class="block-text font-18")
						b
							| Челябинск, ул. Ленина 1
			div(class="col-12 col-lg-4 pb-4 pb-lg-0")
				div(class="contact-item d-flex flex-column align-items-start")
					span(class="icon-mail icon")
					span(class="font-18 mb-3")
						| Телефон:
					a(class="block-text font-18" href="mailto:info@mail.ru")
						b
							| Email:
		div(class="row pt-50 pb-25 pb-lg-50")
			div(class="col-12")
				div(class="map")
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d291815.0637078299!2d61.12839508404078!3d55.1516877669631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592cb104a3a8d%3A0xef224a2a6d1711bf!2z0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4!5e0!3m2!1sru!2sru!4v1610969525630!5m2!1sru!2sru" width="100%" height="486	" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
		div(class="row pb-50 pb-lg-185")
			div(class="col-12 text-center pb-40")
				h2(class="font-24 mb-3")
					| Контакты
				p(class="block-text")
					| Вы можете связаться с нами любым удобным для вас способом.
			div(class="col-12")
				form(action="" method="")
					div(class="row")
						div(class="col-12 col-lg-4 pb-4")
							input(class="form-control form-control_empty" placeholder="Ваше имя")
						div(class="col-12 col-lg-4 pb-4")
							input(class="form-control form-control_empty" placeholder="Email")
						div(class="col-12 col-lg-4 pb-4")
							input(class="form-control form-control_empty" placeholder="+7 (900) 000 00 00")
						div(class="col-12 pb-50")
							textarea(class="form-control form-control_empty form-control_area" placeholder="Ваше сообщение")
						div(class="col-12 d-flex justify-content-center")
							button(type="submit" class="btn btn_main")
								| отправить

release/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>7 желаний</title>
  </head>
  <body id="page">
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 d-flex align-items-center justify-content-between"><a class="logo" href="#">7 желаний</a>
            <div class="d-flex align-items-center">
              <nav class="navigation d-none d-lg-flex"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="#">Каталог</a><a class="navigation__link" href="#">Услуги</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Контакты</a>
              </nav><a class="header-phone d-none d-lg-block" href="tel:+73511234567">+7 351 123-45-67</a>
              <div class="minicart"><!-- убрать класс minicart__link_btn если не нужно открывать меню --><a class="minicart__link minicart__link_btn" href="#"><span class="icon-cart"></span><span class="minicart__count">2</span>						</a></div>
              <div class="d-flex d-lg-none ml-3" id="burger"><span></span></div>
            </div>
          </div>
        </div>
      </div><div class="minicart__dropdown">
      <div class="minicart__dropdown_content">
        <div class="d-flex justify-content-end pb-3"><span class="minicart__dropdown_close">+</span></div>
        <ul class="minicart__list-content">
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
        </ul><div class="minicart__total"><span>Цена</span><span>4 999 ₽</span></div>
<div class="minicart-btns d-flex flex-column">
<a class="btn mb-3" href="#">Корзина</a>
<a class="btn btn_main" href="#">Оформить</a>
</div>
      </div></div>
    </header>
    <div class="menu-modal">
      <div class="menu-modal__content"><div class="d-flex justify-content-between align-items-center mb-4"><a class="logo" href="#">7 желаний</a>
        <div class="menu-modal__close"></div></div>
        <nav class="navigation navigation_mobile d-flex flex-column align-items-start"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="epiclegend.ru">Каталог</a><a class="navigation__link" href="#">Услуги</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Контакты</a>
        </nav>
        <div class="menu-modal__block d-flex justify-content-center"><a class="header-phone" href="tel:+73511234567">+7 351 123-45-67</a></div>
        <div class="social d-flex align-items-center justify-content-center"><a class="social__link" href="#"><span class="icon-instagram"></span></a><a class="social__link" href="#"><span class="icon-vk"></span></a><a class="social__link" href="#"><span class="icon-facebook"></span></a></div>
      </div>
    </div>
    <div class="content">
      <div class="breadcrumb-block">
        <div class="container">
          <div class="row">
            <div class="col-12"><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item"><a href="#">Library</a></li>
<li class="breadcrumb-item active" aria-current="page">Data</li>
</ol>
</nav>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-50 pt-lg-75">
        <div class="row justify-content-center pb-40">
          <div class="col-12 col-lg-6 text-center">
            <h1 class="block-title">Контакты</h1>
            <p class="block-text">Вы можете связаться с нами любым удобным для вас способом.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4 pb-4 pb-lg-0">
            <div class="contact-item d-flex flex-column align-items-start"><span class="icon-call icon"></span><span class="font-18 mb-3">Телефон:</span><a class="block-text font-18" href="tel:+73511234567"><b>+7 351 123-45-67</b></a></div>
          </div>
          <div class="col-12 col-lg-4 pb-4 pb-lg-0">
            <div class="contact-item d-flex flex-column align-items-start"><span class="icon-location icon"></span><span class="font-18 mb-3">Адрес:</span><span class="block-text font-18"><b>Челябинск, ул. Ленина 1</b></span></div>
          </div>
          <div class="col-12 col-lg-4 pb-4 pb-lg-0">
            <div class="contact-item d-flex flex-column align-items-start"><span class="icon-mail icon"></span><span class="font-18 mb-3">Телефон:</span><a class="block-text font-18" href="mailto:info@mail.ru"><b>Email:</b></a></div>
          </div>
        </div>
        <div class="row pt-50 pb-25 pb-lg-50">
          <div class="col-12">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d291815.0637078299!2d61.12839508404078!3d55.1516877669631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592cb104a3a8d%3A0xef224a2a6d1711bf!2z0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4!5e0!3m2!1sru!2sru!4v1610969525630!5m2!1sru!2sru" width="100%" height="486	" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
        <div class="row pb-50 pb-lg-185">
          <div class="col-12 text-center pb-40">
            <h2 class="font-24 mb-3">Контакты</h2>
            <p class="block-text">Вы можете связаться с нами любым удобным для вас способом.</p>
          </div>
          <div class="col-12">
            <form action="" method="">
              <div class="row">
                <div class="col-12 col-lg-4 pb-4">
                  <input class="form-control form-control_empty" placeholder="Ваше имя">
                </div>
                <div class="col-12 col-lg-4 pb-4">
                  <input class="form-control form-control_empty" placeholder="Email">
                </div>
                <div class="col-12 col-lg-4 pb-4">
                  <input class="form-control form-control_empty" placeholder="+7 (900) 000 00 00">
                </div>
                <div class="col-12 pb-50">
                  <textarea class="form-control form-control_empty form-control_area" placeholder="Ваше сообщение"></textarea>
                </div>
                <div class="col-12 d-flex justify-content-center">
                  <button class="btn btn_main" type="submit">отправить</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProductLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalProductLabel">Modal title</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center"><span class="icon-arrow-top"></span></div>
    </div>
    <footer class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-4 pb-5 pb-lg-0"><span class="block-header font-24 font-weight-500 mb-3 d-block">Контактная информация</span>
              <div class="d-flex flex-column align-items-start">
                <div><span class="footer__item mr-2">Телефон:</span><a class="link_color" href="tel:+73511234567">+7 351 123-45-67</a></div>
                <div><span class="footer__item mr-3">Email:</span><a class="link_color" href="mailto:info@mail.ru">info@mail.ru</a></div>
              </div>
            </div>
            <div class="col-12 col-lg-4 d-none d-lg-block"><span class="block-header font-24 font-weight-500 mb-3 d-block">Категории товаров</span>
              <div class="d-flex flex-column align-items-start"><a class="link" href="#">Подушки</a><a class="link" href="#">Обувь</a><a class="link" href="#">Косметика</a><a class="link" href="#">Бижутерия</a><a class="link" href="#">Парфюм</a>
              </div>
            </div>
            <div class="col-12 col-lg-4"><span class="block-header font-24 font-weight-500 mb-3 d-block">Подписывайтесь</span>
              <div class="social d-flex align-items-center"><a class="social__link" href="#"><span class="icon-instagram"></span></a><a class="social__link" href="#"><span class="icon-vk"></span></a><a class="social__link" href="#"><span class="icon-facebook"></span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6"><a class="font-14" href="#">Политика конфиденциальности</a></div>
            <div class="col-12 col-lg-6 d-none d-lg-flex justify-content-lg-end"><a class="font-14" href="https://deksis.ru/">Разработка сайта DEKSIS.RU</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>
