source/html/index.pug
extends base.pug
block content
	div(class="welcome")
		div(class="swiper-welcome swiper-container py-5 pt-lg-0")
			div(class="swiper-wrapper")
				div(class="swiper-slide")
					div(class="container")
						div(class="row align-items-center")
							div(class="col-lg-5 position-relative order-2 order-lg-1 d-flex justify-content-center d-lg-block")
								span(class="swiper-welcome__index d-none d-lg-block")
									| 01
								img(class="swiper-welcome__img img-fluid animated" src="images/product.png" alt="img" title="img")
							div(class="col-12 col-lg-6 order-1 order-lg-2 d-flex flex-column align-items-center d-lg-block")
								h1(class="swiper-welcome__title animated")
									| Новый аромат<br>от Chanel
								p(class="swiper-welcome__description animated")
									| Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. 
								a(class="swiper-welcome__link animated" href="#")
									| ПОДРОБНЕЕ
					div(class="swiper-welcome__tag d-none d-lg-block")
						| #парфюмерия
				div(class="swiper-slide")
					div(class="container")
						div(class="row align-items-center")
							div(class="col-lg-5 position-relative order-2 order-lg-1 d-flex justify-content-center d-lg-block")
								span(class="swiper-welcome__index d-none d-lg-block")
									| 02
								img(class="swiper-welcome__img img-fluid animated" src="images/product.png" alt="img" title="img")
							div(class="col-12 col-lg-6 order-1 order-lg-2 d-flex flex-column align-items-center d-lg-block")
								h1(class="swiper-welcome__title animated")
									| Новый аромат<br>от Chanel
								p(class="swiper-welcome__description animated")
									| Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. 
								a(class="swiper-welcome__link animated" href="#")
									| ПОДРОБНЕЕ
					div(class="swiper-welcome__tag d-none d-lg-block")
						| #парфюмерия
			div(class="swiper-welcome-pagination d-none d-lg-flex")
			div(class="swiper-welcome-button-prev d-none d-lg-flex")
				span(class="icon-arrow-left")
			div(class="swiper-welcome-button-next d-none d-lg-flex")
				span(class="icon-arrow-right")
	div(class="container pt-40 pt-lg-115 pb-25 pb-lg-50")
		div(class="row justify-content-center")
			div(class="col-12 col-lg-10 text-center")
				h2(class="title-rare wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
					| Мы исполняем желания
				p(class="font-14 font-lg-16 px-lg-5 font-weight-500 px-2 px-lg-0 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.5s")
					| В нашем интернет-магазине вы найдете необходимые товары для исполнения ваших самых нужных желаний.Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации.
	div(class="container pt-25 pt-lg-50")
		div( class="row justify-content-center")
			div(class="col-12 col-lg-4 text-center pb-4")
				h2(class="block-title wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
					| ТОП ПРОДАЖ
				p(class="block-text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.5s")
					| Эти товары покупают чаще всего
	div(class="container-fluid px-lg-5 pb-lg-65")
		div(class="swiper-hot-product swiper-default swiper-container px-lg-4")
			div(class="swiper-wrapper")
				-for(let i = 0; i < 4; i++)
					div(class="swiper-slide wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s")
						form(class="category-item"  action="" method="")
							div(class="category-item__info d-flex flex-column")
								a(href="#1" class="mb-2")
									span(class="icon-heart")
								button(class="mb-2" type="submit")
									span(class="icon-cart")
							div(class="category-item__preview")
								a(href="#123")
								img(class="default-img lazyload" data-src="images/product-70.jpg" alt="img" title="img")
								img(class="hover-img lazyload" data-src="images/product-70-2.jpg" alt="img" title="img")
							div(class="d-flex justify-content-center")
								a(class="category-item__title" href="#")
									| Chanel Chance
							div(class="category-item__price-block d-flex justify-content-center align-items-center")
								span(class="now order")
									| 1 999 ₽
								span(class="old")
									| 2 999 ₽
							div(class="d-flex flex-column align-items-center d-lg-none py-4")
								button(class="btn d-flex align-items-center" type="submit")
									span(class="icon-cart mr-2")
									| В корзину
					div(class="swiper-slide wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s")
						form(class="category-item"  action="" method="")
							div(class="category-item__info d-flex flex-column")
								a(href="#1" class="mb-2")
									span(class="icon-heart")
								button(class="mb-2" type="submit")
									span(class="icon-cart")
							div(class="category-item__preview")
								a(href="#123")
								img(class="default-img lazyload" data-src="images/product-70.jpg" alt="img" title="img")
								img(class="hover-img lazyload" data-src="images/product-70-2.jpg" alt="img" title="img")
							div(class="d-flex justify-content-center")
								a(class="category-item__title" href="#")
									| Chanel Chance
							div(class="category-item__price-block d-flex justify-content-center align-items-center")
								span(class="now")
									| 1 999 ₽
								span(class="old")
									| 2 999 ₽
							div(class="d-flex flex-column align-items-center d-lg-none py-4")
								button(class="btn d-flex align-items-center" type="submit")
									span(class="icon-cart mr-2")
									| В корзину
			div(class="swiper-hot-product-button-prev swiper-button-prev")
				span(class="icon-arrow-left")
			div(class="swiper-hot-product-button-next swiper-button-next")
				span(class="icon-arrow-right")
	div(class="container pt-25 pt-lg-65 pb-30 pb-lg-110")
		div(class="row")
			div(class="col-12 pb-4 text-center")
				h2(class="block-title wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s")
					| БРЕНДЫ
			div(class="col-12")
				div(class="swiper-brend swiper-default swiper-container")
					div(class="swiper-wrapper d-flex align-items-center")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s")
							img(class="lazyload img-fluid" data-src="images/brend1.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.4s")
							img(class="lazyload img-fluid" data-src="images/brend2.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.8s")
							img(class="lazyload img-fluid" data-src="images/brend3.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1.2s")
							img(class="lazyload img-fluid" data-src="images/brend4.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1.6s")
							img(class="lazyload img-fluid" data-src="images/brend5.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="2s")
							img(class="lazyload img-fluid" data-src="images/brend6.png" alt="img" title="img")
					div(class="swiper-brend-button-prev swiper-button-prev")
						span(class="icon-arrow-left")
					div(class="swiper-brend-button-next swiper-button-next")
						span(class="icon-arrow-right")
	div(class="container pt-lg-110 pb-25 pb-lg-260")
		div(class="row align-items-center")
			div(class="col-12 col-lg-7")
				h2(class="block-title pb-5 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
					| Ваши 7 желаний
				p(class="font-weight-500 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.6s")
					| Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации
				div(class="row pt-2 d-none d-lg-flex")
					-for(let i = 0; i < 3; i++)
						div(class="col-12 col-lg-4")
							div(class="d-flex flex-column align-items-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
								span(class="icon-message font-50")
								p(class="font-weight-500")
									| Преимущество 1
			div(class="col-12 col-lg-5 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
				img(class="lazyload w-100" data-src="images/bear.png" alt="img" title="img")

release/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>7 желаний</title>
  </head>
  <body id="page">
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 d-flex align-items-center justify-content-between"><a class="logo" href="#">7 желаний</a>
            <div class="d-flex align-items-center">
              <nav class="navigation d-none d-lg-flex"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="#">Каталог</a><a class="navigation__link" href="#">Услуги</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Контакты</a>
              </nav><a class="header-phone d-none d-lg-block" href="tel:+73511234567">+7 351 123-45-67</a>
              <div class="minicart"><!-- убрать класс minicart__link_btn если не нужно открывать меню --><a class="minicart__link minicart__link_btn" href="#"><span class="icon-cart"></span><span class="minicart__count">2</span>						</a></div>
              <div class="d-flex d-lg-none ml-3" id="burger"><span></span></div>
            </div>
          </div>
        </div>
      </div><div class="minicart__dropdown">
      <div class="minicart__dropdown_content">
        <div class="d-flex justify-content-end pb-3"><span class="minicart__dropdown_close">+</span></div>
        <ul class="minicart__list-content">
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
        </ul><div class="minicart__total"><span>Цена</span><span>4 999 ₽</span></div>
<div class="minicart-btns d-flex flex-column">
<a class="btn mb-3" href="#">Корзина</a>
<a class="btn btn_main" href="#">Оформить</a>
</div>
      </div></div>
    </header>
    <div class="menu-modal">
      <div class="menu-modal__content"><div class="d-flex justify-content-between align-items-center mb-4"><a class="logo" href="#">7 желаний</a>
        <div class="menu-modal__close"></div></div>
        <nav class="navigation navigation_mobile d-flex flex-column align-items-start"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="epiclegend.ru">Каталог</a><a class="navigation__link" href="#">Услуги</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Контакты</a>
        </nav>
        <div class="menu-modal__block d-flex justify-content-center"><a class="header-phone" href="tel:+73511234567">+7 351 123-45-67</a></div>
        <div class="social d-flex align-items-center justify-content-center"><a class="social__link" href="#"><span class="icon-instagram"></span></a><a class="social__link" href="#"><span class="icon-vk"></span></a><a class="social__link" href="#"><span class="icon-facebook"></span></a></div>
      </div>
    </div>
    <div class="content">
      <div class="welcome">
        <div class="swiper-welcome swiper-container py-5 pt-lg-0">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-5 position-relative order-2 order-lg-1 d-flex justify-content-center d-lg-block"><span class="swiper-welcome__index d-none d-lg-block">01</span><img class="swiper-welcome__img img-fluid animated" src="images/product.png" alt="img" title="img"></div>
                  <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex flex-column align-items-center d-lg-block">
                    <h1 class="swiper-welcome__title animated">Новый аромат<br>от Chanel</h1>
                    <p class="swiper-welcome__description animated">Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. </p><a class="swiper-welcome__link animated" href="#">ПОДРОБНЕЕ</a>
                  </div>
                </div>
              </div>
              <div class="swiper-welcome__tag d-none d-lg-block">#парфюмерия</div>
            </div>
            <div class="swiper-slide">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-5 position-relative order-2 order-lg-1 d-flex justify-content-center d-lg-block"><span class="swiper-welcome__index d-none d-lg-block">02</span><img class="swiper-welcome__img img-fluid animated" src="images/product.png" alt="img" title="img"></div>
                  <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex flex-column align-items-center d-lg-block">
                    <h1 class="swiper-welcome__title animated">Новый аромат<br>от Chanel</h1>
                    <p class="swiper-welcome__description animated">Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. </p><a class="swiper-welcome__link animated" href="#">ПОДРОБНЕЕ</a>
                  </div>
                </div>
              </div>
              <div class="swiper-welcome__tag d-none d-lg-block">#парфюмерия</div>
            </div>
          </div>
          <div class="swiper-welcome-pagination d-none d-lg-flex"></div>
          <div class="swiper-welcome-button-prev d-none d-lg-flex"><span class="icon-arrow-left"></span></div>
          <div class="swiper-welcome-button-next d-none d-lg-flex"><span class="icon-arrow-right"></span></div>
        </div>
      </div>
      <div class="container pt-40 pt-lg-115 pb-25 pb-lg-50">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 text-center">
            <h2 class="title-rare wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s">Мы исполняем желания</h2>
            <p class="font-14 font-lg-16 px-lg-5 font-weight-500 px-2 px-lg-0 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.5s">В нашем интернет-магазине вы найдете необходимые товары для исполнения ваших самых нужных желаний.Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации.</p>
          </div>
        </div>
      </div>
      <div class="container pt-25 pt-lg-50">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-4 text-center pb-4">
            <h2 class="block-title wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s">ТОП ПРОДАЖ</h2>
            <p class="block-text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.5s">Эти товары покупают чаще всего</p>
          </div>
        </div>
      </div>
      <div class="container-fluid px-lg-5 pb-lg-65">
        <div class="swiper-hot-product swiper-default swiper-container px-lg-4">
          <div class="swiper-wrapper">
            <div class="swiper-slide wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s">
              <form class="category-item" action="" method="">
                <div class="category-item__info d-flex flex-column"><a class="mb-2" href="#1"><span class="icon-heart"></span></a>
                  <button class="mb-2" type="submit"><span class="icon-cart"></span></button>
                </div>
                <div class="category-item__preview"><a href="#123"></a><img class="default-img lazyload" data-src="images/product-70.jpg" alt="img" title="img"><img class="hover-img lazyload" data-src="images/product-70-2.jpg" alt="img" title="img"></div>
                <div class="d-flex justify-content-center"><a class="category-item__title" href="#">Chanel Chance</a></div>
                <div class="category-item__price-block d-flex justify-content-center align-items-center"><span class="now order">1 999 ₽</span><span class="old">2 999 ₽</span></div>
                <div class="d-flex flex-column align-items-center d-lg-none py-4">
                  <button class="btn d-flex align-items-center" type="submit"><span class="icon-cart mr-2"></span>В корзину</button>
                </div>
              </form>
            </div>
            <div class="swiper-slide wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s">
              <form class="category-item" action="" method="">
                <div class="category-item__info d-flex flex-column"><a class="mb-2" href="#1"><span class="icon-heart"></span></a>
                  <button class="mb-2" type="submit"><span class="icon-cart"></span></button>
                </div>
                <div class="category-item__preview"><a href="#123"></a><img class="default-img lazyload" data-src="images/product-70.jpg" alt="img" title="img"><img class="hover-img lazyload" data-src="images/product-70-2.jpg" alt="img" title="img"></div>
                <div class="d-flex justify-content-center"><a class="category-item__title" href="#">Chanel Chance</a></div>
                <div class="category-item__price-block d-flex justify-content-center align-items-center"><span class="now">1 999 ₽</span><span class="old">2 999 ₽</span></div>
                <div class="d-flex flex-column align-items-center d-lg-none py-4">
                  <button class="btn d-flex align-items-center" type="submit"><span class="icon-cart mr-2"></span>В корзину</button>
                </div>
              </form>
            </div>
            <div class="swiper-slide wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s">
              <form class="category-item" action="" method="">
                <div class="category-item__info d-flex flex-column"><a class="mb-2" href="#1"><span class="icon-heart"></span></a>
                  <button class="mb-2" type="submit"><span class="icon-cart"></span></button>
                </div>
                <div class="category-item__preview"><a href="#123"></a><img class="default-img lazyload" data-src="images/product-70.jpg" alt="img" title="img"><img class="hover-img lazyload" data-src="images/product-70-2.jpg" alt="img" title="img"></div>
                <div class="d-flex justify-content-center"><a class="category-item__title" href="#">Chanel Chance</a></div>
                <div class="category-item__price-block d-flex justify-content-center align-items-center"><span class="now order">1 999 ₽</span><span class="old">2 999 ₽</span></div>
                <div class="d-flex flex-column align-items-center d-lg-none py-4">
                  <button class="btn d-flex align-items-center" type="submit"><span class="icon-cart mr-2"></span>В корзину</button>
                </div>
              </form>
            </div>
            <div class="swiper-slide wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s">
              <form class="category-item" action="" method="">
                <div class="category-item__info d-flex flex-column"><a class="mb-2" href="#1"><span class="icon-heart"></span></a>
                  <button class="mb-2" type="submit"><span class="icon-cart"></span></button>
                </div>
                <div class="category-item__preview"><a href="#123"></a><img class="default-img lazyload" data-src="images/product-70.jpg" alt="img" title="img"><img class="hover-img lazyload" data-src="images/product-70-2.jpg" alt="img" title="img"></div>
                <div class="d-flex justify-content-center"><a class="category-item__title" href="#">Chanel Chance</a></div>
                <div class="category-item__price-block d-flex justify-content-center align-items-center"><span class="now">1 999 ₽</span><span class="old">2 999 ₽</span></div>
                <div class="d-flex flex-column align-items-center d-lg-none py-4">
                  <button class="btn d-flex align-items-center" type="submit"><span class="icon-cart mr-2"></span>В корзину</button>
                </div>
              </form>
            </div>
            <div class="swiper-slide wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s">
              <form class="category-item" action="" method="">
                <div class="category-item__info d-flex flex-column"><a class="mb-2" href="#1"><span class="icon-heart"></span></a>
                  <button class="mb-2" type="submit"><span class="icon-cart"></span></button>
                </div>
                <div class="category-item__preview"><a href="#123"></a><img class="default-img lazyload" data-src="images/product-70.jpg" alt="img" title="img"><img class="hover-img lazyload" data-src="images/product-70-2.jpg" alt="img" title="img"></div>
                <div class="d-flex justify-content-center"><a class="category-item__title" href="#">Chanel Chance</a></div>
                <div class="category-item__price-block d-flex justify-content-center align-items-center"><span class="now order">1 999 ₽</span><span class="old">2 999 ₽</span></div>
                <div class="d-flex flex-column align-items-center d-lg-none py-4">
                  <button class="btn d-flex align-items-center" type="submit"><span class="icon-cart mr-2"></span>В корзину</button>
                </div>
              </form>
            </div>
            <div class="swiper-slide wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s">
              <form class="category-item" action="" method="">
                <div class="category-item__info d-flex flex-column"><a class="mb-2" href="#1"><span class="icon-heart"></span></a>
                  <button class="mb-2" type="submit"><span class="icon-cart"></span></button>
                </div>
                <div class="category-item__preview"><a href="#123"></a><img class="default-img lazyload" data-src="images/product-70.jpg" alt="img" title="img"><img class="hover-img lazyload" data-src="images/product-70-2.jpg" alt="img" title="img"></div>
                <div class="d-flex justify-content-center"><a class="category-item__title" href="#">Chanel Chance</a></div>
                <div class="category-item__price-block d-flex justify-content-center align-items-center"><span class="now">1 999 ₽</span><span class="old">2 999 ₽</span></div>
                <div class="d-flex flex-column align-items-center d-lg-none py-4">
                  <button class="btn d-flex align-items-center" type="submit"><span class="icon-cart mr-2"></span>В корзину</button>
                </div>
              </form>
            </div>
            <div class="swiper-slide wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s">
              <form class="category-item" action="" method="">
                <div class="category-item__info d-flex flex-column"><a class="mb-2" href="#1"><span class="icon-heart"></span></a>
                  <button class="mb-2" type="submit"><span class="icon-cart"></span></button>
                </div>
                <div class="category-item__preview"><a href="#123"></a><img class="default-img lazyload" data-src="images/product-70.jpg" alt="img" title="img"><img class="hover-img lazyload" data-src="images/product-70-2.jpg" alt="img" title="img"></div>
                <div class="d-flex justify-content-center"><a class="category-item__title" href="#">Chanel Chance</a></div>
                <div class="category-item__price-block d-flex justify-content-center align-items-center"><span class="now order">1 999 ₽</span><span class="old">2 999 ₽</span></div>
                <div class="d-flex flex-column align-items-center d-lg-none py-4">
                  <button class="btn d-flex align-items-center" type="submit"><span class="icon-cart mr-2"></span>В корзину</button>
                </div>
              </form>
            </div>
            <div class="swiper-slide wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s">
              <form class="category-item" action="" method="">
                <div class="category-item__info d-flex flex-column"><a class="mb-2" href="#1"><span class="icon-heart"></span></a>
                  <button class="mb-2" type="submit"><span class="icon-cart"></span></button>
                </div>
                <div class="category-item__preview"><a href="#123"></a><img class="default-img lazyload" data-src="images/product-70.jpg" alt="img" title="img"><img class="hover-img lazyload" data-src="images/product-70-2.jpg" alt="img" title="img"></div>
                <div class="d-flex justify-content-center"><a class="category-item__title" href="#">Chanel Chance</a></div>
                <div class="category-item__price-block d-flex justify-content-center align-items-center"><span class="now">1 999 ₽</span><span class="old">2 999 ₽</span></div>
                <div class="d-flex flex-column align-items-center d-lg-none py-4">
                  <button class="btn d-flex align-items-center" type="submit"><span class="icon-cart mr-2"></span>В корзину</button>
                </div>
              </form>
            </div>
          </div>
          <div class="swiper-hot-product-button-prev swiper-button-prev"><span class="icon-arrow-left"></span></div>
          <div class="swiper-hot-product-button-next swiper-button-next"><span class="icon-arrow-right"></span></div>
        </div>
      </div>
      <div class="container pt-25 pt-lg-65 pb-30 pb-lg-110">
        <div class="row">
          <div class="col-12 pb-4 text-center">
            <h2 class="block-title wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s">БРЕНДЫ</h2>
          </div>
          <div class="col-12">
            <div class="swiper-brend swiper-default swiper-container">
              <div class="swiper-wrapper d-flex align-items-center">
                <div class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s"><img class="lazyload img-fluid" data-src="images/brend1.png" alt="img" title="img"></div>
                <div class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.4s"><img class="lazyload img-fluid" data-src="images/brend2.png" alt="img" title="img"></div>
                <div class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.8s"><img class="lazyload img-fluid" data-src="images/brend3.png" alt="img" title="img"></div>
                <div class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1.2s"><img class="lazyload img-fluid" data-src="images/brend4.png" alt="img" title="img"></div>
                <div class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1.6s"><img class="lazyload img-fluid" data-src="images/brend5.png" alt="img" title="img"></div>
                <div class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="2s"><img class="lazyload img-fluid" data-src="images/brend6.png" alt="img" title="img"></div>
              </div>
              <div class="swiper-brend-button-prev swiper-button-prev"><span class="icon-arrow-left"></span></div>
              <div class="swiper-brend-button-next swiper-button-next"><span class="icon-arrow-right"></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-lg-110 pb-25 pb-lg-260">
        <div class="row align-items-center">
          <div class="col-12 col-lg-7">
            <h2 class="block-title pb-5 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s">Ваши 7 желаний</h2>
            <p class="font-weight-500 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.6s">Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации</p>
            <div class="row pt-2 d-none d-lg-flex">
              <div class="col-12 col-lg-4">
                <div class="d-flex flex-column align-items-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s"><span class="icon-message font-50"></span>
                  <p class="font-weight-500">Преимущество 1</p>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="d-flex flex-column align-items-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s"><span class="icon-message font-50"></span>
                  <p class="font-weight-500">Преимущество 1</p>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="d-flex flex-column align-items-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s"><span class="icon-message font-50"></span>
                  <p class="font-weight-500">Преимущество 1</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-5 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s"><img class="lazyload w-100" data-src="images/bear.png" alt="img" title="img"></div>
        </div>
      </div>
    </div><div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProductLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalProductLabel">Modal title</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center"><span class="icon-arrow-top"></span></div>
    </div>
    <footer class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-4 pb-5 pb-lg-0"><span class="block-header font-24 font-weight-500 mb-3 d-block">Контактная информация</span>
              <div class="d-flex flex-column align-items-start">
                <div><span class="footer__item mr-2">Телефон:</span><a class="link_color" href="tel:+73511234567">+7 351 123-45-67</a></div>
                <div><span class="footer__item mr-3">Email:</span><a class="link_color" href="mailto:info@mail.ru">info@mail.ru</a></div>
              </div>
            </div>
            <div class="col-12 col-lg-4 d-none d-lg-block"><span class="block-header font-24 font-weight-500 mb-3 d-block">Категории товаров</span>
              <div class="d-flex flex-column align-items-start"><a class="link" href="#">Подушки</a><a class="link" href="#">Обувь</a><a class="link" href="#">Косметика</a><a class="link" href="#">Бижутерия</a><a class="link" href="#">Парфюм</a>
              </div>
            </div>
            <div class="col-12 col-lg-4"><span class="block-header font-24 font-weight-500 mb-3 d-block">Подписывайтесь</span>
              <div class="social d-flex align-items-center"><a class="social__link" href="#"><span class="icon-instagram"></span></a><a class="social__link" href="#"><span class="icon-vk"></span></a><a class="social__link" href="#"><span class="icon-facebook"></span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6"><a class="font-14" href="#">Политика конфиденциальности</a></div>
            <div class="col-12 col-lg-6 d-none d-lg-flex justify-content-lg-end"><a class="font-14" href="https://deksis.ru/">Разработка сайта DEKSIS.RU</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>
