release/product.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>7 желаний</title>
  </head>
  <body id="page">
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 d-flex align-items-center justify-content-between"><a class="logo" href="#">7 желаний</a>
            <div class="d-flex align-items-center">
              <nav class="navigation d-none d-lg-flex"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="#">Каталог</a><a class="navigation__link" href="#">Услуги</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Контакты</a>
              </nav><a class="header-phone d-none d-lg-block" href="tel:+73511234567">+7 351 123-45-67</a>
              <div class="minicart"><!-- убрать класс minicart__link_btn если не нужно открывать меню --><a class="minicart__link minicart__link_btn" href="#"><span class="icon-cart"></span><span class="minicart__count">2</span>						</a></div>
              <div class="d-flex d-lg-none ml-3" id="burger"><span></span></div>
            </div>
          </div>
        </div>
      </div><div class="minicart__dropdown">
      <div class="minicart__dropdown_content">
        <div class="d-flex justify-content-end pb-3"><span class="minicart__dropdown_close">+</span></div>
        <ul class="minicart__list-content">
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
          <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
            <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
          </li>
        </ul><div class="minicart__total"><span>Цена</span><span>4 999 ₽</span></div>
<div class="minicart-btns d-flex flex-column">
<a class="btn mb-3" href="#">Корзина</a>
<a class="btn btn_main" href="#">Оформить</a>
</div>
      </div></div>
    </header>
    <div class="menu-modal">
      <div class="menu-modal__content"><div class="d-flex justify-content-between align-items-center mb-4"><a class="logo" href="#">7 желаний</a>
        <div class="menu-modal__close"></div></div>
        <nav class="navigation navigation_mobile d-flex flex-column align-items-start"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="epiclegend.ru">Каталог</a><a class="navigation__link" href="#">Услуги</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Контакты</a>
        </nav>
        <div class="menu-modal__block d-flex justify-content-center"><a class="header-phone" href="tel:+73511234567">+7 351 123-45-67</a></div>
        <div class="social d-flex align-items-center justify-content-center"><a class="social__link" href="#"><span class="icon-instagram"></span></a><a class="social__link" href="#"><span class="icon-vk"></span></a><a class="social__link" href="#"><span class="icon-facebook"></span></a></div>
      </div>
    </div>
    <div class="content">
      <div class="breadcrumb-block">
        <div class="container">
          <div class="row">
            <div class="col-12"><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item"><a href="#">Library</a></li>
<li class="breadcrumb-item active" aria-current="page">Data</li>
</ol>
</nav>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-70 pb-100">
        <div class="row align-items-start">
          <div class="col-2 col-lg-1 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s"><div class="swiper-container gallery-thumbs">
<div class="swiper-wrapper">
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div></div>
</div>
          </div>
          <div class="col-10 col-lg-5 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s"><div class="swiper-default swiper-container gallery-top py-5">
<div class="swiper-wrapper">
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div>
            <div class="swiper-slide"><img class="img-fluid " src="images/product.png" alt="img" title="img"></div></div>
<div class="swiper-button-next"><span class="icon-arrow-right"></span></div>
<div class="swiper-button-prev"><span class="icon-arrow-left"></span></div>
</div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="product">
              <h1 class="font-24 font-weight-500 mb-4 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s">Духи Chanel Chance</h1>
              <div class="category-item__price-block d-flex align-items-center pb-4 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s"><span class="now order">1 999 ₽</span><span class="old">2 999 ₽</span></div>
              <p class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s">Краткое описание к товару, чтобы подчеркнуть его какие либо достоинства и качества. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации.</p>
              <form class="d-flex align-items-center pb-5 mb-3 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s" action="" method="">
                <input type="number" value="1" min="1" step="1">
                <button class="ml-3 btn btn_main" type="submit">добавить в корзину</button>
              </form>
              <div>
                <div class="brend-tag d-flex flex-wrap wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s"><span class="mr-1">Брэнд:</span>
                  <div class="d-flex flex-wrap wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.5s"><span class="mr-2">Chanel</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 pt-5"><ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
<li class="nav-item wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s">
<a class="nav-link active" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="true">Описание</a>
</li>
<li class="nav-item wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.8s">
<a class="nav-link" id="pills-det-tab" data-toggle="pill" href="#pills-det" role="tab" aria-controls="pills-det" aria-selected="false">Детали</a>
</li>
<li class="nav-item wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1.4s">
<a class="nav-link" id="pills-ser-tab" data-toggle="pill" href="#pills-ser" role="tab" aria-controls="pills-ser" aria-selected="false">Сертификаты</a>
</li>
</ul>
<div class="tab-content wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1s" id="pills-tabContent" >
<div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
            <p>Не следует, однако забывать, что рамки и место обучения кадров позволяет выполнять важные задания по разработке дальнейших направлений развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.</p>
            <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что консультация с широким активом представляет собой интересный эксперимент проверки форм развития.</p>
            <p>Таким образом рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же начало повседневной работы по формированию позиции требуют определения и уточнения модели развития. Задача организации, в особенности же новая модель организационной деятельности играет важную роль в формировании модели развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.</p></div>
<div class="tab-pane fade" id="pills-det" role="tabpanel" aria-labelledby="pills-det-tab">...</div>
<div class="tab-pane fade" id="pills-ser" role="tabpanel" aria-labelledby="pills-ser-tab">...</div>
</div>
          </div>
        </div>
      </div>
    </div><div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProductLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalProductLabel">Modal title</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center"><span class="icon-arrow-top"></span></div>
    </div>
    <footer class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-4 pb-5 pb-lg-0"><span class="block-header font-24 font-weight-500 mb-3 d-block">Контактная информация</span>
              <div class="d-flex flex-column align-items-start">
                <div><span class="footer__item mr-2">Телефон:</span><a class="link_color" href="tel:+73511234567">+7 351 123-45-67</a></div>
                <div><span class="footer__item mr-3">Email:</span><a class="link_color" href="mailto:info@mail.ru">info@mail.ru</a></div>
              </div>
            </div>
            <div class="col-12 col-lg-4 d-none d-lg-block"><span class="block-header font-24 font-weight-500 mb-3 d-block">Категории товаров</span>
              <div class="d-flex flex-column align-items-start"><a class="link" href="#">Подушки</a><a class="link" href="#">Обувь</a><a class="link" href="#">Косметика</a><a class="link" href="#">Бижутерия</a><a class="link" href="#">Парфюм</a>
              </div>
            </div>
            <div class="col-12 col-lg-4"><span class="block-header font-24 font-weight-500 mb-3 d-block">Подписывайтесь</span>
              <div class="social d-flex align-items-center"><a class="social__link" href="#"><span class="icon-instagram"></span></a><a class="social__link" href="#"><span class="icon-vk"></span></a><a class="social__link" href="#"><span class="icon-facebook"></span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6"><a class="font-14" href="#">Политика конфиденциальности</a></div>
            <div class="col-12 col-lg-6 d-none d-lg-flex justify-content-lg-end"><a class="font-14" href="https://deksis.ru/">Разработка сайта DEKSIS.RU</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/product.pug
extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-70 pb-100")
		div(class="row align-items-start")
			div(class="col-2 col-lg-1 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
				<div class="swiper-container gallery-thumbs">
					<div class="swiper-wrapper">
						-for(let i = 0; i < 10; i++)
							div(class="swiper-slide")
								img(class="img-fluid " src="images/product.png" alt="img" title="img")
					</div>
				</div>
			div(class="col-10 col-lg-5 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
				<div class="swiper-default swiper-container gallery-top py-5">
					<div class="swiper-wrapper">
						-for(let i = 0; i < 10; i++)
							div(class="swiper-slide")
								img(class="img-fluid " src="images/product.png" alt="img" title="img")
					</div>
					<div class="swiper-button-next">
						span(class="icon-arrow-right")
					</div>
					<div class="swiper-button-prev">
						span(class="icon-arrow-left")
					</div>
				</div>
			div(class="col-12 col-lg-6")
				div(class="product")
					h1(class="font-24 font-weight-500 mb-4 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
						| Духи Chanel Chance
					div(class="category-item__price-block d-flex align-items-center pb-4 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
						span(class="now order")
							| 1 999 ₽
						span(class="old")
							| 2 999 ₽
					p(class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
						| Краткое описание к товару, чтобы подчеркнуть его какие либо достоинства и качества. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации.
					form(class="d-flex align-items-center pb-5 mb-3 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s" action="" method="")
						input(type="number" value="1" min="1" step="1")
						button(class="ml-3 btn btn_main" type="submit")
							| добавить в корзину
					div()
						div(class="brend-tag d-flex flex-wrap wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
							span(class="mr-1")
								| Брэнд:
							div(class="d-flex flex-wrap wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.5s")
								span(class="mr-2")
									| Chanel
		div(class="row")
			div(class="col-12 pt-5")
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s">
						<a class="nav-link active" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="true">Описание</a>
					</li>
					<li class="nav-item wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.8s">
						<a class="nav-link" id="pills-det-tab" data-toggle="pill" href="#pills-det" role="tab" aria-controls="pills-det" aria-selected="false">Детали</a>
					</li>
					<li class="nav-item wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1.4s">
						<a class="nav-link" id="pills-ser-tab" data-toggle="pill" href="#pills-ser" role="tab" aria-controls="pills-ser" aria-selected="false">Сертификаты</a>
					</li>
				</ul>
				<div class="tab-content wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1s" id="pills-tabContent" >
					<div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
						p
							| Не следует, однако забывать, что рамки и место обучения кадров позволяет выполнять важные задания по разработке дальнейших направлений развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
						p
							| Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что консультация с широким активом представляет собой интересный эксперимент проверки форм развития.
						p
							| Таким образом рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же начало повседневной работы по формированию позиции требуют определения и уточнения модели развития. Задача организации, в особенности же новая модель организационной деятельности играет важную роль в формировании модели развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
					</div>
					<div class="tab-pane fade" id="pills-det" role="tabpanel" aria-labelledby="pills-det-tab">...</div>
					<div class="tab-pane fade" id="pills-ser" role="tabpanel" aria-labelledby="pills-ser-tab">...</div>
				</div>
					
  
